a {
    color: #606c76;
}

#surname, #firstname, #taille, #poids{
    -webkit-appearance: none;
    background-color: transparent;
    border: 0.1rem solid #d1d1d1;
    border-radius: 0.4rem;
    box-shadow: none;
    box-sizing: inherit;
    height: 3.8rem;
    padding: 0.6rem 1rem 0.7rem;
    width: 49%;
}

#firstname, #poids{
    margin-left: 1.5%;
}





