/*nécessite tout le code CSS de ../style.css */

#aide1 {
    text-align: center;
}

#aide2 {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

#aide3 {
    padding-bottom: 20px;
    text-align: center;
}

.Valider_Retour {
    display: flex;
    flex-direction: column;
    align-items: center;
}
