:root {
    --primary: #697068;
    --blue: #40599a;
    --green-back: #c9e26540;
}

.btn_retour a {
    text-decoration: none;
    color: var(--primary);
    font-size: 22px;
    font-family: "Inter", sans-serif;
    background: var(--blue);
    color: white;
    font-weight: bold;
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: left;
    border-radius: 8px;
    padding-left: 20px;
}

.btn_retour {
    padding-left: 50px;
    padding-top: 80px;
}

.btn_retour :hover {
    opacity: 0.8;
}

.gestion_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gestion_container table {
    background-color: #D9D9D9;
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 18px;


}

.gestion_container tr {
    text-align: center;
    border: solid 2px;

}

.gestion_container td {
    text-align: center;
    width: 150px;
    padding-top: 5px;
}

.gestion_container #case_mail {
    width: 150px;
}

.gestion_container #action {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.gestion_container .btn_container {
    background-color: white;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    border-radius: 8px;
}

.gestion_container .btn_container:hover {
    background-color: lightgreen;
}

.title_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title_container h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: bold;

}

.btn_rechercher_container {
    margin: auto;
    width: 150px;
    background-color: #40599a;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-radius: 8px;
}

.btn_rechercher_container a {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.btn_rechercher_container a:hover {
    opacity: 0.8;
}

body {
    min-height: 100vh;
    position: relative;
}

.vide{
    height: 60px;
}
      