.btn {
    background-color: #40599a;
    color: white;
    border: none;
    display: block;
    width: 20%;
    margin: auto;
    cursor: pointer;
    font-size: 2rem;
    font-family: inherit;
    padding: 3rem;
    border-radius: 10px;
}
