.search-component-container {
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 20%;
    text-align: center;
}

#btn {
    background-color: #40599a;
    color: white;
    border: none;
    display: block;
    cursor: pointer;
    width: 100%;
    font-size: 2rem;
    font-family: inherit;
    padding: 3rem;
    border-radius: 10px;
}

#barre {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.titre4 {
    background-repeat: no-repeat;
    background-position: center center;
    font-family: Inter, sans-serif;
    font-size: 22px;
    background-size: cover;
    opacity: 1;
    color: rgb(0, 0, 0);
    display: block;
    text-align: center;
    overflow: hidden;
}

.separator {
    height: 1px;
    background: rgb(0, 0, 0);
    display: block;
    width: 100%;
}
