:root {
    --primary: #697068;
    --blue: #40599a;
    --green-back: #c9e26540;
}

.btn_gestion_container {
    display: flex;
    padding-top:4px;
    justify-content: center;
}


.btn_gestion_container .list_btn {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding-inline-start: 0px;
}

.btn_gestion_container .list_btn .list_btn_att a {
    text-decoration: none;
    color: var(--primary);
    font-size: 18px;
    font-family: "Inter", sans-serif;
    background: var(--blue);
    color: white;
    font-weight: bold;
    width: 130px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.btn_gestion_container .list_btn .list_btn_att:hover {
    opacity: 0.8;
}

.btn_gestion_container .list_btn .list_btn_att {
    padding-right: 10px;
}

.gestion_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.gestion_container table {
    background-color: #d9d9d9;
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 18px;
}

.gestion_container tr {
    text-align: center;
    border: solid 2px;
    height: 15px;
}

.gestion_container td {
    text-align: center;
    width: 150px;
}

.gestion_container #case_mail {
    width: 150px;
}

.gestion_container #action {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.gestion_container .btn_container {
    background-color: white;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    border-radius: 8px;
}

.gestion_container .btn_container:hover {
    background-color: red;
}

.title_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title_container h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: bold;
}

body {
    min-height: 100vh;
    position: relative;
}

.vide{
    height: 60px;
}


