* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    overflow: hidden;

}

.quiz-header {
    padding: 4rem;
}

h2 {
    padding: 1rem;
    font-size: 3rem;
    text-align: center;
    margin: 0;
}

ul {
    list-style-type: none;
}

ul li {
    font-size: 2rem;
    margin: 1rem 0;
    padding: 1rem;
    padding-inline-start: 40%;
}

ul li label {
    cursor: pointer;
}

button {
    background-color: #40599a;
    color: white;
    border: none;
    display: block;
    width: 50%;
    margin: auto;
    cursor: pointer;
    font-size: 2rem;
    font-family: inherit;
    padding: 3rem;
    border-radius: 10px;
}

button :hover {
    background-color: #40599a;
}

button :focus {
    outline: none;
    background-color: white;
}
