* {
    margin: 0;
    padding: 0;
}

.container {
    width: 125%;
    height: 100%;
    top: 50%;
    background-size: cover;
    position: relative;
}

header {
    font-family: "Roboto", sans-serif;
    height: 126px;
    width: 100%;
    background: #40599a;
    letter-spacing: 2px;
    font-size: 6rem;
    color: white;
    display: flex;
    z-index: 1;
    position: fixed;
}
.c {
    position: absolute;
    left: 40%;
    top: 20%;
}
.inscription {
    position: absolute;
    top: 20%;
    font-size: 1.2em;
}

p {
    font-size: 60px;
    position: absolute;
}

@media (min-width: 300%) .container {
    width: 100%;
    height: 100%;
}

.text1 {
    top: -800%;
}

.text2 {
    top: -900%;
}

.text3 {
    top: -820%;
}

.line {
    position: absolute;
    left: 92%;
    top: 26%;
    height: 50%;
    color: white;
}

.img1 {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 126px;
}

.inscription {
    position: absolute;
    right: 140px;
    text-align: center;
}

.entete a {
    color: white;
    text-decoration: none;
    font-size: 0.5em;
}

.entete {
    text-decoration: none;
    font-size: 40px;
    display: flex;
    align-items: center;
}

footer {
    height: 100px;
    width: 100%;
    background: linear-gradient(0deg,#40599a, 75%, white);
    font-family: "Roboto", sans-serif;
    position: absolute;
    bottom: 0px;
}


.item{
    top: 50%;
}

.item2 {
    
}
