header {
    font-family: "Roboto", sans-serif;
    height: 126px;
    width: 100%;
    background: linear-gradient(#40599a, 75%, white);
    letter-spacing: 2px;
    font-size: 6rem;
    color: white;
    display: flex;
    z-index: 1;
    position: fixed;
}
.c {
    position: absolute;
    left: 40%;
    top: 20%;
}
.inscription {
    position: absolute;
    top: 20%;
    font-size: 1.2em;
}

p {
    font-size: 60px;
    position: absolute;
}

.text1 {
    top: -800%;
}

.text2 {
    top: -900%;
}

.text3 {
    top: -820%;
}

.line {
    position: absolute;
    left: 92%;
    top: 26%;
    height: 50%;
    color: white;
}

.img1 {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 126px;
}

.inscription {
    position: absolute;
    right: 140px;
    text-align: center;
}

.entete a {
    color: white;
    text-decoration: none;
    font-size: 0.5em;
}

.entete {
    text-decoration: none;
    font-size: 40px;
    display: flex;
    align-items: center;
}

.footer-basic {
    padding: 40px 0;
    background-color: #ffffff;
    color: #4b4c4d;
}

ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 15px;
    line-height: 15;
    margin-bottom: 0;
    left: 40%;
}

li {
    padding: 0 10px;
}

ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

ul a:hover {
    opacity: 1;
}

.copyright {
    margin-top: 0%;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
    margin-left: 40%;
}
