* {
    margin: 0;
    padding: 0;
}

header {
    height: 126px;
    margin: 0;
    background: #40599A;
}

#titre1 {
    /*espace entre lettre */
    letter-spacing: 2px;
    /*taille texte */
    font-size: 6rem;
    color: white;
    margin-top: 13px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%)

}

#img2 {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
}



#rectangle {
    width: 60%;
    margin: auto;
}

h2 {
    text-align: center;
    font-size: 3rem;
    color: #40599A;
    padding: 2rem;
}


#img3 {
    position: absolute;
    opacity: 25%;
}

footer {
    height: 84px;
    width: 100%;
    background: #40599A;
    position: absolute;
    bottom: 0px;
}



input {
    font-family: inherit;
    font-size: 100%;
    margin-bottom: 1.5rem;

}

input[type='text'], input[type='password'] {
    border: 0.1rem solid #d1d1d1;
    border-radius: 0.4rem;
    height: 3.8rem;
    padding: 0.6rem 1rem 0.7rem;
    width: 100%;
}

input[type='submit'] {
    background-color: #40599a;
    border: 0.1rem solid #40599a;
    border-radius: 0.4rem;
    color: #fff;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 700;
    height: 3.8rem;
    letter-spacing: .1rem;
    line-height: 3.8rem;
    padding: 0 3rem;
    text-transform: uppercase;

}

body {
    color: #606c76;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6em;
    font-weight: 300;
    letter-spacing: .01em;
    line-height: 1.6;
}

html {
    box-sizing: border-box;
    font-size: 63%;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

* {
    box-sizing: inherit;
}


.Valider_Retour {

    display: flex;
    flex-direction: column;
    align-items: center;
}


a, a:visited {
    color: #40599A;
}

.icon {
    padding: 10px;
    background: #40599A;
    color: white;
    min-width: 50px;
    text-align: center;
}

#aide1 {
    text-align: center;
}

#aide2 {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

#aide3 {
    padding-bottom: 20px;
    text-align: center;
}

