body {
    font-family: "Roboto", sans-serif;
    overflow: hidden;
}

.quiz-header {
    padding: 4rem;
}

h2 {
    padding: 1rem;
    font-size: 3rem;
    text-align: center;
    margin: 0;
}

ul {
    list-style-type: none;
}

ul li {
    font-size: 2rem;
    margin: 1rem 0;
    padding: 1rem;
    padding-inline-start: 40%;
}

ul li label {
    cursor: pointer;
}

input[type="submit"] {
    background-color: #40599a;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.btn {
    display: flex;
    background-color: #40599a;
    text-align: center;
    color: white;
    border: none;
    display: block;
    cursor: pointer;
    width: 20%;
    font-size: 2rem;
    font-family: "Roboto";
    border-radius: 10px;
    padding: 10px 0px 10px 0px;
    margin: 0px 10px 0px 10px;
}

body {
    min-height: 100vh;
    position: relative;
}

.vide {
    height: 60px;
}
