table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #dddddd;
}

input[type="submit"] {
    background-color: #40599a;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.conteneur {
    width: 100%;
    display: flex;
    overflow-x: auto;
    justify-content: space-around;
}

@media (max-width: 600px) {
    /* cacher certaines colonnes sur les petits écrans */
    table th:nth-child(3),
    table td:nth-child(3) {
        display: flex;
    }
}

h1 {
    display: flex;
    font-size: 3rem;
    justify-content: space-around;
    align-items: center;
    color: #40599a;
    font-family: "roboto", sans-serif;
    padding: 2rem;
}
