* {
    margin: 0;
    padding: 0;
    font-family: "roboto", sans-serif;
}


.flexboxFooter1 {
    display: flex;
    flex-wrap: wrap; /* Ajout de cette propriété pour permettre aux éléments de passer à la ligne */
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #40599a;
    height: 60px;
}

#responsiveContact {
    order: 2;
}

@media (max-width: 605px) {
    #responsiveContact {
        order: 3;
        width: 100%;
        background: #40599a;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .barreResp{
        display: none;
    }

}


/*
.btn {
    border-right: 1px solid #fff;
} */

/* .btn + .btn {
    border-left: white 2px solid;
} */

html {
    font-size: 63%;
}

input[type="button"] {
    background-color: #40599a;
    border: 0.1rem solid #40599a;
    border-radius: 0.4rem;
    color: #fff;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 700;
    height: 3.8rem;
    letter-spacing: 0.1rem;
    line-height: 3.8rem;
    padding: 0 3rem;
    text-transform: uppercase;
}

input[type="button"]:hover {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0.4rem;
}

#barre {
    background: white;
    height: 40px;
    width: 2px;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
    input[type="button"] {
        font-size: 1rem;
    }

    .flexboxFooter1 {
        height: 50px;
    }
}

@media only screen and (max-width: 400px) {
    input[type="button"] {
        font-size: 0.8rem;
    }

    #barre {
        height: 30px;
    }

    .flexboxFooter1 {
        height: 40px;
    }
}


/*!*footer {*!*/
/*!*    justify-content: space-around;*!*/
/*!*    !*position: fixed;*!*!*/
/*!*    display: flex;*!*/
/*!*    align-items: center;*!*/
/*!*    left: 0;*!*/
/*!*    bottom: 0;*!*/
/*!*    width: 100%;*!*/
/*!*    background: #40599a;*!*/
/*!*    height: 60px;*!*/
/*!*}*!*/

/*html {*/
/*    font-size: 63%;*/
/*}*/

/*input[type="button"] {*/
/*    background-color: #40599a;*/
/*    border: 0.1rem solid #40599a;*/
/*    border-radius: 0.4rem;*/
/*    color: #fff;*/
/*    cursor: pointer;*/
/*    font-size: 1.3rem;*/
/*    font-weight: 700;*/
/*    height: 3.8rem;*/
/*    letter-spacing: 0.1rem;*/
/*    line-height: 3.8rem;*/
/*    padding: 0 3rem;*/
/*    text-transform: uppercase;*/
/*}*/

/*input[type="button"]:hover {*/
/*    color: #ffffff;*/
/*    background-color: rgba(255, 255, 255, 0.2);*/
/*    border-radius: 0.4rem;*/
/*}*/

/*.btn1 {*/
/*    border-right: 1px solid #fff;*/
/*}*/

/*.btn2 {*/
/*    border-right: 1px solid #fff;*/
/*}*/


