* {
    margin: 0;
    padding: 0;
}

#img1 {
    height: 120px;
}

.flexboxHeader {
    display: flex;
    background: #40599a;
    height: 120px;
    align-items: center;
}

.flexboxHeader2 {
    margin: auto;
    transform: translateX(30px);
    /* avancer de 200-120 / 2 */
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px;
    font-size: 60px;
    color: white;
}

.flexboxHeader2_1 {
    margin: auto;
    transform: translateX(-60px);
    /* revenir de img1 / 2 */
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px;
    font-size: 60px;
    color: white;
}

.flexboxHeader2_2 {
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px;
    font-size: 60px;
    color: white;
}

html {
    font-size: 63%;
}

.flexboxHeader3 {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
}

.flexboxHeader3_2 {
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    margin-left: auto;
}

.flexboxHeader4 {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    margin: 25px;
}

a,
a:visited {
    color: #ffffff;
    text-decoration: none;
}

#inscription:hover {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0.2rem;
}

#logo_connexion {
    height: 60px;
}

@media (max-width: 480px) {
    .flexboxHeader2_1 {
        text-align: right;
        order: 2;
        width: 80%;
    }
    .flexboxHeader3,
    .flexboxHeader4 {
        order: 1;
        width: 100%;
        text-align: center;
    }
}
