#canvas {
}

@media screen and (max-device-width: 1030px) {
    .conteneurchild {
        flex-direction: column;
    }

    .conteneur {
        flex-direction: column !important;
    }

    .canvas {
        width: 80%;
    }

    canvas {
        width: 80%;
    }

     .dividerTemp {
        height: 2px; background: black; width: 50%; margin-left: auto; margin-right: auto;
    }

     .divider{
         margin: 10px;
     }
}
