* {
    margin: 0;
    padding: 0;
}

#titre1 {
    /*espace entre lettre */
    letter-spacing: 2px;
    /*taille texte */
    font-size: 6rem;
    color: white;
    margin-top: 13px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

h2 {
    text-align: center;
    font-size: 3rem;
    color: #40599a;
    padding: 2rem;
}

.titre2 {
    line-height: 1.3;
    color: rgb(0, 0, 0);
    position: absolute;
    left: 20%;
    font-family: Inter, sans-serif;
    font-size: 30px;
    opacity: 1;

    text-align: center;
}

.titre3 {
    background-repeat: no-repeat;
    background-position: center center;
    font-family: Inter, sans-serif;
    font-size: 30px;
    background-size: cover;
    opacity: 1;
    color: rgb(0, 0, 0);
    display: block;
    text-align: center;
    overflow: hidden;
}

.conteneur {
    display: flex;
    gap: 1rem;
    
    align-items: stretch;
    margin: 2rem auto;
}

.conteneurchild {
    flex: 1;
    text-align: center;
}

.groschiffre {
    display: block;
    text-align: center;
    font-size: 200px;
}

.moyenchiffre {
  display: block;
  text-align: center;
  font-size: 40px;
}

.divider {
    background-color: black;
    width: 3px;
}

body {
    min-height: 100vh;
    position: relative;
}