.c {
    position: absolute;
    left: 40%;
    top: 20%;
}
.inscription {
    position: absolute;
    top: 20%;
    font-size: 1.2em;
}

p {
    font-size: 60px;
    position: absolute;
}

.text1 {
    top: -800%;
}

.text2 {
    top: -900%;
}

.text3 {
    top: -820%;
}

.line {
    position: absolute;
    left: 92%;
    top: 26%;
    height: 50%;
    color: white;
}

.img1 {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 126px;
}

.inscription {
    position: absolute;
    right: 140px;
    text-align: center;
}

.entete a {
    color: white;
    text-decoration: none;
    font-size: 0.5em;
}

body {
    min-height: 100vh;
    position: relative;
}
