.inscription {
    position: absolute;
    font-size: 1.2em;
    right: 4%;
    transform: translateX(-50%);
}

.img1 {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 126px;
}
header {
    font-family: "Roboto", sans-serif;
    height: 126px;
    width: 100%;
    background: #40599a;
    letter-spacing: 2px;
    font-size: 6rem;
    color: white;
    display: flex;
    z-index: 1;
    position: fixed;
}
.c {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15%;
}

.line {
    top: 25%;
    height: 50%;
    position: absolute;
    right: 0%;
    transform: translateX(-50%);
}

.entete a {
    color: white;
    text-decoration: none;
    font-size: 0.5em;
}
