* {
    margin: 0;
    padding: 0;
}

#img1 {
    height: 120px;
}
.flexboxHeader {
    display: flex;
    background: #40599a;
    height: 120px;
    align-items: center;

}

.flexboxHeader2 {
    margin: auto;
    transform: translateX(-60px);
    /* revenir de img1 / 2 */
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px;
    font-size: 60px;
    color: white;
}

html {
    font-size: 63%;
}


