.nav__title {
    font-size: 40px;
    color: var(--text-color-primary);
    margin: auto;
}

.nav__inscription {
    font-size: 20px;
    margin: 25px;
}

body {
    min-height: 100vh;
    position: relative;
}